.redBox{
    width:250px ; 
    height:250px; 
    background-color: rgb(248, 24, 24); 
    position:(3,3,3)
}

.blueBox{
    width:250px ;
    height:250px;
    background-color: rgb(4, 0, 255); 
    position:(10,10,10); 
    margin-left: 40px; 
    margin-top: -210px;
}

.yellowBox{
    width:250px ; 
    height:250px; 
    background-color: rgb(229, 255, 0); 
    position:(20,20,20); 
    margin-left: 80px; 
    margin-top: -210px;
}