.one{
    display: inline-block;
    width:30%;
    word-wrap: break-word;
 
}

.two{
    display: inline-block;
    width:30%;
}

.three{
    display: inline-block;
    width:30%;
}

.four{
   display: block; 
}

.five{
    display: inline-block;
    width:20%;
}

.six{
    display: inline-block;
    width:60%;
}

