.one{
    display: inline-block;
    width:30%;

}

.two{
    display: inline-block;
    width:30%;
}

.three{
    display: inline-block;
    width:30%;
}

.four{
   display: block; 
}

.five{
    display: inline-block;
    width:19%;
}

.six{
    display: inline-block;
    width:79%;
}