.one{
    display: inline-block;
    width:30%;

}

.two{
    display: inline-block;
    width:30%;
}

.three{
    display: inline-block;
    width:30%;
}

.four{
   display: block; 
}

.five{
    /*display: inline-block;*/
    float: left;
    width:20%;
}

.six{
    float: right;
    width:80%;
}

